
@import 'anchors-b64';

p a{
  background-image:none;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position-y: center;
  color: #000;
}
p a:nth-child(1):hover{
  background-image:$abg01;
}

p a:nth-child(2):hover{
  background-image:$abg02;
}

p a:nth-child(3):hover{
  background-image:$abg03;
}
