
@import 'anchors-b64';

a{
  background-image:none;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position-y: center;
  color: #000;
}
a:hover:after{
  background-image:none;
}
a:hover,
a.abg01:hover{
  background-image:$abg01;
}

a.abg02:hover{
  background-image:$abg02;
}

a.abg03:hover{
  background-image:$abg03;
}


/*** Dont add bg here :) ***/
.logo a,
.dir a,
a.burger{
  background-image:none;
}
