
body{
  margin:0;
  top:0;
  left:0;
  padding:0;
  width:$site-width;
  margin:10*$vw auto;
  color:$dark;
  font-family:'Avenir', 'Montserrat', 'Arial', sans-serif;
  font-size:$font-size-p;
  line-height:$font-size-p;
  overflow-x: hidden;
  &.menu-open{
    overflow:hidden;
  }
}



a{
  font-weight:700;
  font-style: italic;
  display:inline-block;
  pointer-events: all;
  cursor: pointer;
  &:hover{
    pointer-events: all;
    cursor:pointer;
  }
}


ol{
  li{
    list-style-type: decimal-leading-zero;
  }
}
img{
  display:block;
  margin:auto;
  width:100%;
}
video{
  max-height:100vh;
  max-width:100%;
}

.header{
  width:40*$vw;
  min-height: 10*$vw;
  display:block;
  margin-bottom:6*$vw;
  h1{
    font-size:$font-size*1.5;
    line-height:$font-size*2;
    font-weight:900;
    word-break: break-all;
    margin-bottom:5*$vw;
    text-transform: uppercase;
  }
  .credits{
    .credit{
      min-width: 100%;
      display: block;
    }
  }
}
.wp-block-columns{
  display: flex;
}
.is-vertically-aligned-center{
  display: flex;
  *{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-center;
    vertical-align: middle;
  }
}

.wp-block-jetpack-slideshow_pagination{
  display:none;
}
.wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_slide,
.wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_slide{
  background:transparent !important;
}
.wp-block-jetpack-slideshow{
  width: 90*$vw;
  left: -5*$vw;
}


.slid{
  padding-top:10*$vw;
  padding-bottom:10*$vw;
}
