
body{
  margin:0;
  top:0;
  left:0;
  padding:0;
  width:80vw;
  margin:11vw 10vw;
  color:$dark;
  font-family:'Avenir', 'Montserrat', 'Arial', sans-serif;
  font-size:$font-size/3;
  line-height:$font-size/3;
  &.menu-open{
    overflow:hidden;
  }
}
h1,h2,
h3,h4{
  font-weight:700;
}
b h1,b h2,
b h3,b h4,
strong h1,strong h2,
strong h3,strong h4,
h1 b,h2 b,
h3 b,h4 b,
h1 strong,h2 strong,
h3 strong,h4 strong{
  font-weight:900;
}
h1{font-size:$font-size;line-height:$font-size*1.25;}
h2{font-size:$font-size*.85;line-height:$font-size*.85*1.25;}
h3{font-size:$font-size*.85*.85;line-height:$font-size*.85*.85*1.25;}
h4{font-size:$font-size*.85*.85*.85;line-height:$font-size*.85*.85*.85*1.25;}
h5{font-size:$font-size*.85*.85*.85;line-height:$font-size*.85*.85*.85*.85*1.25;font-weight:500;}

p{

  font-size:$font-size/3;
  line-height:$font-size/3*1.25;
}



a{
  font-weight:700;
  font-style: italic;
  display:inline-block;
  &:hover{
    background-size: 100% 6vw;
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
  }
}


ol{
  li{
    list-style-type: decimal-leading-zero;
  }
}
.tjenester{
  ol,
  ul{
    li{
      font-size:$font-size/2;
      line-height:$font-size/3;
      list-style-position: inside;
      margin-bottom: 6vw;
      a{
        line-height:$font-size*1.25;
        font-size:$font-size;
        list-style-position: inside;
      }
      &::before,
      &:before {
        line-height:0;
        display:block;
        content: "\a";
        white-space: pre;
      }
    }
  }
}
img{
  display:block;
  margin:auto;
  max-width:100%;
  margin-bottom:5vw;
  max-height:95vh;
}
video{
  max-height:95vh;
  max-width:100%;
}

.header{
  width:40vw;
  min-height: 10vw;
  display:block;
  h1{
    font-size:$font-size*1.5;
    line-height:$font-size*2;
    font-weight:900;
    word-break: break-all;
    margin-bottom:5vw;
    text-transform: uppercase;
  }
  p{
    margin-bottom:8vw;
  }
  .credits{
    .credit{
      min-width: 100%;
      display: block;
    }
  }
}

.pager{
  padding:10vw 0;
  display:flex;
  z-index: -1;
  .previous,
  .back,
  .next{
    z-index: -1;
  }
  .previous{
    display:inline-block;
    height:2vw;
    width:2vw;
    transform:rotate(-45deg);
    content:' ';
    border-left:$dark .5vw solid;
    border-top:$dark .5vw solid;
  }
  .back{
    font-size:3.5vw;
    display:inline-block;
    margin:auto;
    flex-grow:1;
    text-align:center;
  }
  .next{
    float:right;
    display:inline-block;
    height:2vw;
    width:2vw;
    transform:rotate(-225deg);
    content:' ';
    border-left:$dark .5vw solid;
    border-top:$dark .5vw solid;
  }
}
