.plyr__poster{
  background-size: cover;
}
body{
  max-width:100vw;
  overflow-x:hidden;
}
.h-p-header{
  z-index:250;
  top:0;
  width:100vw;
  background:$primary;
  position:absolute;
  padding:8vw 0;
  color:$white;
  font-family: $handwritten;
  font-size:5vw;
  text-align:center;
  text-transform:uppercase;
  .text{
    font-family: $handwritten;
    z-index:22;
    margin:0 5vw;
    .word{
      font-family: $handwritten;
      z-index:22;
      display:inline-block;
      margin-right:2vw;
      span{
        font-family: $handwritten;
        display:inline-block;
      }
      #i{
        text-transform:lowercase;
        font-size:120%;
      }
    }
    @for $i from 1 through 90 {
      .word :nth-child(#{$i}){
        transform:rotate(-10 + (random(20))+deg);
        margin-right:((-2+random(4))/10)+vw;
        margin-left:((-2+random(4))/10)+vw;
        font-size:4+(random(100)/100)+vw;
      }
    }
  }
}
.site-wrap{
  overflow-y:hidden;
  max-width:100vw;
  width:100vw;
  z-index:220;
  overflow:hidden;
  position:absolute;
  .site{
    margin:48vw 10px 0 10px;
  }
  .events-wrap{
      max-width:100%;
      width:$sitewidth;
      height:auto;
      display:block;
    .events{
      display:flex;
      .video,
      .text{
        width:50%;
      }
    }
  }
}
.start-collab-btn{
  padding:4rem 0;
  margin:auto;
  .psst{
    width: 12rem;
    transform:rotate(-7deg);
    margin-left:-10px;
    opacity:1;
    text-align:center;
    display: block;
    margin: auto;
    transform:opacity 100ms, transform 100ms;
  }
}


.portfolio-item{
  font-family:$serif;
  max-width:100%;
  width:$md-scrn;
  display:flex;
  margin:auto;
  padding:9rem 0;
  .image-wrap,
  .video-wrap,
  .text-wrap{
    display:inline-block;
    width:50%;
  }
  .video-wrap,
  .image-wrap{
    img{
      max-width:100%;
    }
  }
  .text-wrap{
    h2{
      margin-left: -14%;
      margin-top: -6.357rem;
    }
    h2:after{
      width:2.7rem;
      height:.3rem;
      display:block;
      content:' ';
      background:darken($primary,80%);
    }
    .content{
      padding-top: 65px;
      width:90%;
      margin-left:10%;
    }
  }
}

.p-wrap#hae .text-wrap .page{
  width: 90%;
  padding-left: 10%;
}
.p-wrap#hae{
  font-family:$serif;
  max-width:100%;
  width:$md-scrn;
  display:flex;
  margin:auto;
  padding:9rem 0;
  .media-wrap,
  .text-wrap{
    display:inline-block;
    width: 100%;
    max-width: 100%;
  }
  .image-wrap{
    width:100%;
    img{
      max-width:100%;
    }
  }
  .text-wrap{
    h2{
      margin-left: -14%;
      margin-top: -6.357rem;
    }
    h2:after{
      width:2.7rem;
      height:.3rem;
      display:block;
      content:' ';
      background:darken($primary,80%);
    }
    .content{
      padding-top: 65px;
      width:90%;
      margin-left:10%;
    }
  }
}
.text#kontakt .text-wrap{
  width:$sm-scrn;
  margin:auto;
  display:block;
}

.portfolio-item.Text{
  .image-wrap{
    display:none;
  }
  .text-wrap,
  .content-wrap{
    width:100%;
    h2{
      margin-left:0;
      margin-top: 0;
    }
    .content{
      width:100%;
      margin-left:0;
      .tres{
        width: 60%;
      }

    }
  }
}


.portfolio-item.Text#lil-halima-train-acoustic{
 .text-wrap {
 .content{     width: 80%;     margin: auto;}}}



.p-home .hide-home,
.p-home .p-wrap#kontakt,
.p-hae .portfolio-item,
.p-hae .p-wrap#kontakt,
.p-kontakt .portfolio-item,
.p-kontakt .p-wrap#hae,
.p-kontakt .p-wrap#team,
.p-home .p-wrap#kontakt,
.p-team .p-wrap#kontakt{
  opacity:0;
  display:none;
}


.p-open.p-kontakt
  .start-collab-btn{
    display:none;
  }
  .p-wrap#kontakt{
    width: 650px;
    max-width: 100%;
    margin:auto;
}
.hide-xs{
  display:none;
}
@media only screen and (min-width: $sm-scrn) {
.hide-xs{
  display:initial;
}
}
@media only screen and (min-width: $md-scrn) {
  .site-wrap{
    .site{
      margin:48vw 60px 0 60px;
    }
  }
}
@media only screen and (min-width: $lg-scrn) {

}
