
.dir{
  width:100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  overflow:visible;
  width: $site-width + ($dir-i-m*2) + ($dir-i-w/2); /* half of the width of a dir item is added to ensure that we get three per line */
  margin: -$dir-i-m;
  .dir-item{
    width: $dir-i-w;
    height:$dir-i-w;
    display:inline-block;
    background-size:cover;
    border: .01vw solid #fff;
    background-position: center;
    margin:$dir-i-m;
    .info{
      color:#fff;
      opacity:0;
      width:$dir-i-w - $dir-i-i-m*2 - $dir-i-i-p*2;
      height:$dir-i-w - $dir-i-i-m*2 - $dir-i-i-p*2;
      margin:$dir-i-i-m;
      padding:$dir-i-i-p;
      background:$dark;
      bottom:0;
      text-align:center;
      position:relative;
      .info-m{ /*have to keep this here to make the text show in the middle */
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        transition: transform 200ms  ease-in-out 0;
        width:$dir-i-w - $dir-i-i-m*2 - $dir-i-i-p*2;
        h3{
          text-transform: uppercase;
          word-break: break-all;
          font-size:2vw;
          line-height:2vw;
        }
      }
    }
    &:hover{
      .info{
        opacity:1;
        z-index:2;
        .info-m{
          transition: transform 200ms  ease-in-out 0;
          transform: translateY(-50%);
          &:hover{
            cursor:pointer;
          }
        }
        &:hover{
          cursor:pointer;
        }
      }
      cursor:pointer;
    }
  }
}
