
.dir{
  width:100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: $site-width + $dir-i-m*2;
  margin: -$dir-i-m;
  .dir-item{
    width: $dir-i-w;
    height:$dir-i-w;
    display:inline-block;
    background-size:cover;
    margin:$dir-i-m;
    &:hover{
      .info{
        display:block;
      }
    }
    .info{
      color:#fff;
      display:none;
      width:$dir-i-w - $dir-i-i-m*2;
      height:$dir-i-w - $dir-i-i-m*2;
      margin:$dir-i-i-m;
      padding:$dir-i-i-p;
      background:$dark;
      bottom:0;
      h3{
        text-transform: uppercase;
        word-break: break-all;
        font-size:2vw;
        line-height:2vw;
      }
      .title{
        font-size:1.5vw;
      }
    }
  }
}
