
$xs: 33.33333%;
$sm: 40%;
$md: 50%;
$lg: 60%;
$margins: 10%;
.entries{
  width:100%;
  max-width:100%;
  transition: max-width 200ms ease-in;
  &.scrolled50{
    max-width:$max-page-width;
    transition: max-width 200ms ease-in;
  }
}
.entries{
  width:100%;
  max-width:$max-page-width;
  margin:auto auto 4rem auto;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .entry-wrap{
    position: relative;
    display:none;
    &:hover{
      .featured-media{
        box-shadow:0px 5px 15px rgba(#000,.4);
        transition:box-shadow 50ms ease-in;
      }
    }
    .entry {
      .featured-media{
        transition:box-shadow 50ms ease-out;
        box-shadow:0px 5px 19px rgba(#000,.5);
        background:#00f;
        .plyr,
        img{
          width:100%;
        }
      }
      h2{
        font-family:'Times New Roman';
        color:#00f;
        font-weight:400;
        margin-top:1.5rem;
        .client{
          width: 100%;
          display: block;
          line-height: 1rem;
          font-size: 1.4rem;
        }
      }
    }
    @import 'entries--current';
    @import 'entries--show-in-directory';
    @import 'entries--show-on-current-page';
  }
}
.xs{@include flexit($xs);}
.sm{@include flexit($sm);}
.md{@include flexit($md);}
.lg{@include flexit($lg);}
.middle{@include flexalign(center)};
