
&.current{
  display:inline-block;
  @include flexit(100%);
  .entry{
    margin:7rem  1.5rem 1.5rem 1.5rem;
    h2{
      margin:3rem 0;
      width: 100%;
    }
    .entry-title{
      max-width: $max-page-width;
      margin: 3rem auto;
    }
    .featured-media{
      position: relative;
      width: 100%;
      max-width:100%;
      transition: max-width 200ms 200ms;
      margin:auto;
      left: 0;
      top: 0;
      img,
      .plyr{
        max-height: 92vh;
      }
      &.scrolled50{
        max-width: $max-page-width;
        transition: max-width 200ms 200ms;
      }
    }
    .entry-content{
      width: 100%;
      max-width: $max-page-width;
      margin: auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      .pull-md{
        margin-top:30%;
        .entry{
          margin-top:-30%;
        }
      }
      .push-md{
        .entry{
          margin-top:30%;
        }
      }
      .pull-lg{
        margin-top:40%;
        .entry{
          margin-top:-40%;
        }
      }
      .push-lg{
        .entry{
          margin-top:40%;
        }
      }
      .centered{
        margin-left:auto;
        margin-right:auto;
      }
      .push-right{
        .sm{
          margin-left:100%-$sm;
        }
        .lg{
          margin-left:100%-$lg;
        }
      }
    }
  }
}
