
&.current{
  display:inline-block;
  @include flexit(100%);
  .entry{
    margin:3rem  1.5rem 1.5rem 1.5rem;
    h2{
      margin:3rem 0;
      width: 100%;
    }
    .entry-title{
      max-width: $max-page-width;
      margin: auto;
    }
    .featured-media{
      position: relative;
      width: 100%;
      max-width:100%;
      transition: max-width 200ms;
      margin:auto;
      left: 0;
      top: 0;
      &.scrolled100{
        max-width: $max-page-width;
        transition: max-width 200ms;
      }
    }
    .entry-content{
      width: 100%;
      max-width: $max-page-width;
      margin: auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
}
