
&.show-on-current-page{
  display:inline-block;

  .entry{
    h2,
    .featured-media{
      margin:0 2vw;
    }
    .entry-content{
      display:none;
    }
  }
  &[data-wtrs-show-on="home"]{
    &.only-text{
      .featured-media{
        display:none;
      }
    }
    &.only-picture{
      h2{
        display:none;
      }
    }
    &.pull-sm{
      &.current{
        margin-top:0;
        .entry{
          margin-top:0;
        }
      }
      margin-top:15%;
      .entry{
        margin-top:-15%;
      }
    }
    &.push-sm{
      &.current{
        margin-top:0;
        .entry{
          margin-top:0;
        }
      }
      .entry{
        margin-top:15%;
      }
    }
    &.pull-md{
      margin-top:30%;
      .entry{
        margin-top:-30%;
      }
    }
    &.push-md{
      .entry{
        margin-top:30%;
      }
    }
    &.pull-lg{
      margin-top:40%;
      .entry{
        margin-top:-40%;
      }
    }
    &.push-lg{
      .entry{
        margin-top:40%;
      }
    }
  }
}
