
&.show-in-directory{
  display:inline-block;
  &.only-picture{
    .entry{
      border:0 transparent solid;
    }
  }
  .entry{
      box-shadow: 0px 5px 17px rgba(0,0,0,0.05);
      border: 2rem #fff solid;
      background: #fff;
      margin: 1.5rem;
    .entry-title{
      color:#000;
    }
    .featured-media{
      .plyr__controls{
        display: none;
      }
    }
    .entry-content{
      display:none;
    }
  }
  &[data-wtrs-show-on="events"],
  &[data-wtrs-show-on="home"]{
    &.only-text{
      .featured-media{
        display:none;
      }
    }
    &.only-picture{
      .entry-title{
        display:none;
      }
    }
    &.pull-sm{
      &.current{
        margin-top:0;
        .entry{
          margin-top:0;
        }
      }
      margin-top:15%;
      .entry{
        margin-top:-15%;
      }
    }
    &.push-sm{
      &.current{
        margin-top:0;
        .entry{
          margin-top:0;
        }
      }
      .entry{
        margin-top:15%;
      }
    }
    &.pull-md{
      margin-top:30%;
      .entry{
        margin-top:-30%;
      }
    }
    &.push-md{
      .entry{
        margin-top:30%;
      }
    }
    &.pull-lg{
      margin-top:40%;
      .entry{
        margin-top:-40%;
      }
    }
    &.push-lg{
      .entry{
        margin-top:40%;
      }
    }
    &.centered{
      margin-left:auto;
      margin-right:auto;
    }
    &.push-right{
      &.sm{
        margin-left:100%-$sm;
      }
      &.lg{
        margin-left:100%-$lg;
      }
    }
  }
}



@media only screen and (max-width: 777px) {
  &.show-in-directory{
    &[data-wtrs-show-on="events"],
    &[data-wtrs-show-on="home"]{
      &.pull-sm{
        &.current{
          margin-top:0;
          .entry{
            margin-top:0;
          }
        }
        margin-top:0%;
        .entry{
          margin-top:0%;
        }
      }
      &.push-sm{
        &.current{
          margin-top:0;
          .entry{
            margin-top:0;
          }
        }
        .entry{
          margin-top:0%;
        }
      }
      &.pull-md{
        margin-top:0%;
        .entry{
          margin-top:0%;
        }
      }
      &.push-md{
        .entry{
          margin-top:0%;
        }
      }
      &.pull-lg{
        margin-top:0%;
        .entry{
          margin-top:0%;
        }
      }
      &.push-lg{
        .entry{
          margin-top:0%;
        }
      }
      &.push-right{
        &.sm{
          margin-left:0%;
        }
        &.lg{
          margin-left:0%;
        }
      }
    }
  }
}
