
$xs: 33.33333%;
$sm: 40%;
$md: 50%;
$lg: 60%;
$margins: 10%;
.entries{
  &.directory{
    width: 100%;
    max-width: $max-page-width;
  }
  &.page{
    width: 100%;
    max-width: 100%;
  }
  margin:auto auto 4rem auto;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .entry-wrap{
    position: relative;
    display:none;
    &:hover{
      .featured-media{
        box-shadow:0px 5px 15px rgba(#000,.4);
        transition:box-shadow 50ms ease-in;
      }
    }
    .entry {
      .featured-media{
        transition:box-shadow 50ms ease-out;
        box-shadow:0px 5px 19px rgba(#000,.3);
        background:#00f;
        .plyr,
        img{
          width:100%;
        }
      }
      .entry-title{
        font-family:'Times New Roman';
        color:#00f;
        font-weight:400;
        margin-top:1.5rem;
        font-size:2.5rem;
        line-height:2.5rem;
        text-align:center;
        .client{
          width: 100%;
          display: block;
          line-height: 1rem;
          font-size:50%;
        }
      }
    }
    @import 'entries--current';
    @import 'entries--show-in-directory';
    @import 'entries--show-on-current-page';
  }
}
h2#kontakt{
  $dropped: 22rem;
  $dropcolor: #000;
  font-size: 4rem;
  text-shadow: $dropped 0 $dropcolor  , $dropped*2 0 $dropcolor, $dropped*3 0 $dropcolor,
               $dropped*4 0 $dropcolor, $dropped*5 0 $dropcolor, $dropped*6 0 $dropcolor,
               $dropped*7 0 $dropcolor, $dropped*8 0 $dropcolor, $dropped*9 0 $dropcolor,
               $dropped*10 0 $dropcolor, $dropped*11 0 $dropcolor, $dropped*12 0 $dropcolor,
               $dropped*13 0 $dropcolor, $dropped*14 0 $dropcolor, $dropped*15 0 $dropcolor,
               $dropped*16 0 $dropcolor, $dropped*17 0 $dropcolor, $dropped*18 0 $dropcolor,
               $dropped*19 0 $dropcolor, $dropped*20 0 $dropcolor, $dropped*21 0 $dropcolor,
               -$dropped 0 $dropcolor  , -$dropped*2 0 $dropcolor, -$dropped*3 0 $dropcolor,
               -$dropped*4 0 $dropcolor, -$dropped*5 0 $dropcolor, -$dropped*6 0 $dropcolor,
               -$dropped*7 0 $dropcolor, -$dropped*8 0 $dropcolor, -$dropped*9 0 $dropcolor,
               -$dropped*10 0 $dropcolor, -$dropped*11 0 $dropcolor, -$dropped*12 0 $dropcolor,
               -$dropped*13 0 $dropcolor, -$dropped*14 0 $dropcolor, -$dropped*15 0 $dropcolor,
               -$dropped*16 0 $dropcolor, -$dropped*17 0 $dropcolor, -$dropped*18 0 $dropcolor,
               -$dropped*19 0 $dropcolor, -$dropped*20 0 $dropcolor, -$dropped*21 0 $dropcolor;
}
.wp-block-image.middle{
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.xs{@include flexit($xs);}
.sm{@include flexit($sm);}
.md{@include flexit($md);}
.lg{@include flexit($lg);}
.middle{@include flexalign(center)};
