.slid{
  position:relative;
  .s-previous{
    transform: translatex(-9vw);
    left: 0;
  }
  .s-next{
    transform: translatex(9vw);
    right: 0;
  }
  .s-previous,
  .s-next{
    background: #000;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8vw;
  }
}
