.slid{
  position:relative;
  &:first-child .previous,
  &:last-child .next{
    opacity:.5;
    pointer-events: none;
  }
  .previous{
    transform: translatex(-9vw);
    left: 0;
  }
  .next{
    transform: translatex(9vw);
    right: 0;
  }
  .previous,
  .next{
    content: ' ';
    background: #000;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8vw;
  }
}
