
/**** Footer ****/
.foot{
  font-family:'Times New Roman', serif;
  font-size:1.2rem;
  width:100%;
  position:fixed;
  bottom: 1.5rem;
  .foot-inner{
    padding:0 1.5rem;
    margin:auto;
    .foot-right,
    .foot-left{
      width:50%;
      display:inline-block;
      box-sizing: border-box;
    }
    .foot-left{
    }
    .foot-right{
      float:right;
      text-align:right;
      .contact-btn{
        background:#00f;
        color:#fff;
        padding:.5rem 1rem;
        a{
          color:#fff;
          text-decoration:none;
        }
      }
    }
  }
}
