button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:active {
    transform: scale(0.99);
}

.btn {
  background:transparent;
  padding: 0.4rem 1.2rem 0.4rem 1rem;
  font-size: 1rem;
  font-family: $serif, serif;
  display: inline-block;
  position:relative;
  border:2px solid $primary;
  border-radius:22rem;
  transition:border-color $ee $ees;
}
.btn:hover{
  border-color:$focus;
  transition:border-color $ee $ees $ees*.66;
}
.btn:after{
  transform:rotate(45deg);
  border-right:1px solid $primary;
  border-top:1px solid $primary;
  width:.5rem;
  height:.5rem;
  display:inline-block;
  content:'';
  margin-left:.5rem;
  transition: margin-left $ee $ees, margin-right $ee $ees;
}
.btn:hover:after{
  margin-left:.8rem;
  margin-right:-.3rem;
  transition: margin-left $ee $ees $ees*.66, margin-right $ee $ees $ees*.66;
}
.btn:before {
  border-radius:22rem;
  content:'';
  background: transparent;
  position:absolute;
  width:2rem;
  top:0;
  left:0;
  height:100%;
  transition: $ee $ees;
  z-index:-1;
}
.btn:hover:before {
  width:100%;
  background: $focus;
}
