.fruit{
  pointer-events: none;
  position: fixed;
  img{
    width: 20vw;
    pointer-events: none;
    opacity:.5;
  }
  .fruit-left{
    margin-left:-10vw;
  }
  .fruit-right{
    margin-right:-10vw;
  }
}
