.fruit{
  pointer-events: none;
  position: fixed;
  .fruit-left{
    position: absolute;
    width:10vw;
    transform:translate(-5vw, 100vh);
  }
  .fruit-right{
    transform:translate(5vw, 0);
  }
  img{
    pointer-events: none;
    opacity:.5;
    width:10vw;
    top:100vh;
  }
}
