
.logo{
  position:fixed;
  width:20vw;
  height:8vw;
  top:8vw;
  right:18vw;
  img{
    height:100%;
    width:100%;
  }
}

.menu{
  position:fixed;
  right:0;
  top: 0;
  left:0;
  .duvet{
    display:none;
  }
  .burger{
    display:block;
    position:fixed;
    top:10vw;
    right:10vw;
    width:4vw;
    height:4vw;
    &:hover{
      cursor:pointer;
    }
    .one,
    .two,
    .tre{
      position:absolute;
      display:block;
      width:4vw;
      height:.5vw;
      background-color:$dark;
      transition:transform 200ms, top 200ms;
    }
    .two{
      top:1.75vw;
    }
    .tre{
      top:3.5vw;
    }
  }
  nav{
    margin:0;
    padding:0;
    ul{
      margin:0;
      padding:0;
      li{
        list-style:none;
        margin:0;
        font-size:10vw;
        font-weight:800;
        max-width: 80vw;
        transform: translate(0px, 4vw);
        &:nth-child(1) {transition-delay: 0ms; }
        &:nth-child(2) {transition-delay: 50ms; }
        &:nth-child(3) {transition-delay: 100ms;}
        &:nth-child(4) {transition-delay: 150ms;}
        &:nth-child(5) {transition-delay: 200ms;}
        &:nth-child(6) {transition-delay: 250ms;}
      }
    }
  }
  &.open{
    top: 0;
    .duvet{
      display:block;
      left:0;
      top:0;
      position:fixed;
      z-index:$z-basis;
      width:100vw;
      height:100vh;
      background-color:#fff;
      content:' ';
    }
    .burger{
      z-index:$z-basis+30;
      .one{
        top: 1.75vw;
        transform:rotate(45deg);
        transition:transform 200ms, top 200ms;
      }
      .two{
        top: 1.75vw;
        transform:scale(0);
        transition:transform 200ms, top 200ms;
      }
      .tre{
        top: 1.75vw;
        transform:rotate(-45deg);
        transition:transform 200ms, top 200ms;
      }
    }
    nav{
      z-index:$z-basis+2;
      display:block;
      width: 90vw;
      left: 10vw;
      position: fixed;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      ul{
        padding-top:5vw;
        padding-bottom:5vw;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        li{
          line-height:15vw;
          transform: translate(0px, 0vw);
          transition:transform 150ms;
          &:nth-child(1) {transition-delay: 0ms; }
          &:nth-child(2) {transition-delay: 50ms; }
          &:nth-child(3) {transition-delay: 100ms;}
          &:nth-child(4) {transition-delay: 150ms;}
          &:nth-child(5) {transition-delay: 200ms;}
          &:nth-child(6) {transition-delay: 250ms;}
        }
      }
    }
  }
  nav{
    display:none;
  }
}


@media only screen and (min-width: 1100px) {
  .menu.open nav ul{
    position: relative;
    top: 0;
    transform: translateY(0);
  }
}
