$logo-sizer:50;
.logo{
  position:fixed;
  z-index: 2000;
  width:.20*$vw*$logo-sizer;
  height:.08*$vw*$logo-sizer;
  transform:translateY(-.02*$vw*$logo-sizer);
  top:10*$vw;
  right:$site-margin-right + .04*$logo-sizer*2*$vw;
  img{
    height:100%;
    width:100%;
  }
}

.menu{
  z-index: 2000;
  position:fixed;
  right:0;
  top: 0;
  left:0;
  .duvet{
    display:none;
  }
  .burger{
    display:block;
    position:fixed;
    top:10*$vw;
    right:10*$vw;
    width:.04*$vw*$logo-sizer;
    height:.04*$vw*$logo-sizer;
    transform:rotate(1deg);
    &:hover{
      cursor:pointer;
    }
    .one,
    .two,
    .tre{
      transform:rotate(-1deg);
      position:absolute;
      display:block;
      width:.04*$vw*$logo-sizer;
      height:.005*$vw*$logo-sizer;
      background-color:$dark;
      transition:transform 200ms, top 200ms;
    }
    .two{
      top:.0175*$vw*$logo-sizer;
    }
    .tre{
      top:.035*$vw*$logo-sizer;
    }
  }
  nav{
    margin:0;
    padding:0;
    ul{
      margin:0;
      padding:0;
      li{
        list-style:none;
        margin:0;
        font-size:10*$vw;
        font-weight:800;
        max-width: $site-width;
        transform: translate(0px, 4*$vw);
        &:nth-child(1) {transition-delay: 0ms; }
        &:nth-child(2) {transition-delay: 50ms; }
        &:nth-child(3) {transition-delay: 100ms;}
        &:nth-child(4) {transition-delay: 150ms;}
        &:nth-child(5) {transition-delay: 200ms;}
        &:nth-child(6) {transition-delay: 250ms;}
      }
    }
  }
  &.open{
    top: 0;
    .duvet{
      display:block;
      left:0;
      top:0;
      position:fixed;
      z-index:$z-basis;
      width:100*$vw;
      height:100vh;
      background-color:#fff;
      content:' ';
    }
    .burger{
      z-index:$z-basis+30;
      .one{
        top: .75*$vw;
        transform:rotate(45deg);
        transition:transform 200ms, top 200ms;
      }
      .two{
        top: .75*$vw;
        transform:scale(0);
        transition:transform 200ms, top 200ms;
      }
      .tre{
        top: .75*$vw;
        transform:rotate(-45deg);
        transition:transform 200ms, top 200ms;
      }
    }
    nav{
      z-index:$z-basis+2;
      display:block;
      width: 90*$vw;
      position: fixed;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      background:#fff;
      ul{
        padding-top:5*$vw;
        padding-bottom:5*$vw;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        li{
          line-height:15*$vw;
          transform: translate(0px, 0*$vw);
          transition:transform 150ms;
          &:nth-child(1) {transition-delay: 0ms; }
          &:nth-child(2) {transition-delay: 50ms; }
          &:nth-child(3) {transition-delay: 100ms;}
          &:nth-child(4) {transition-delay: 150ms;}
          &:nth-child(5) {transition-delay: 200ms;}
          &:nth-child(6) {transition-delay: 250ms;}
        }
      }
    }
  }
  nav{
    display:none;
  }
}


@media only screen and (min-width: 1100px) {
  .menu.open nav ul{
    position: relative;
    top: 0;
    transform: translateY(0);
  }
}
