a.hae:after {
    position: absolute !important;
    content: ' ' !important;
    height: 50% !important;
    right: 0;
    width: 127% !important;
    padding: 31% !important;
    -webkit-transform: translate(25.5%, -13.4%);
    transform: translate(25.5%, -13.4%);
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
    background-image: url(../media/circle.png) !important;
}
a.play:after {
    position: absolute !important;
    content: ' ' !important;
    height: 60% !important;
    right: 0;
    width: 100% !important;
    -webkit-transform: translate(0%, 131%);
    transform: translate(0%, 131%);
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
    background-image: url(../media/play.png) !important;
}
a.favvv:after {
    position: absolute !important;
    content: ' ' !important;
    height: 130% !important;
    right: 0;
    width: 4vw !important;
    -webkit-transform: translate(127%, 73%);
    transform: translate(127%, 73%);
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
    background-image: url(../media/arrow.png) !important;
}
a.hae,
a.play,
a.favvv{
  z-index:-1;
  font-weight: 700;
  font-style: italic;
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-size: 80%;
  width: 33%;
  margin-top: 2vw;
}
a.hae:hover:after,
a.play:hover:after,
a.favvv:hover:after{
  background-image:none !important;
}
