
.portfolio-item{
  font-family:$serif;
  max-width:100%;
  width:$md-scrn;
  display:flex;
  margin:auto;
  .image-wrap,
  .video-wrap,
  .text-wrap{
    display:inline-block;
    width:50%;
  }
  .video-wrap,
  .image-wrap{
    img{
      max-width:100%;
    }
  }
  .text-wrap{
    h2{
      margin-left: -12%;
      margin-top: -3.357rem;
    }
    .content{
      width:90%;
      margin-left:10%;
    }
  }
}
