
.portfolio-item{
  font-family:$serif;
  max-width:100%;
  width:$md-scrn;
  display:flex;
  margin:auto;
  padding:9rem 0;
  .image-wrap,
  .video-wrap,
  .text-wrap{
    display:inline-block;
    width:50%;
  }
  .video-wrap,
  .image-wrap{
    img{
      max-width:100%;
    }
  }
  .text-wrap{
    h2{
      margin-left: -14%;
      margin-top: -6.357rem;
    }
    h2:after{
      width:2.7rem;
      height:.3rem;
      display:block;
      content:' ';
      background:darken($primary,80%);
    }
    .content{
      padding-top: 65px;
      width:90%;
      margin-left:10%;
    }
  }
}


.p-home .p-wrap#hae{
  font-family:$serif;
  max-width:100%;
  width:$md-scrn;
  display:flex;
  margin:auto;
  padding:9rem 0;
  .media-wrap,
  .text-wrap{
    display:inline-block;
    width:50%;
  }
  .image-wrap{
    width:100%;
    img{
      max-width:100%;
    }
  }
  .text-wrap{
    h2{
      margin-left: -14%;
      margin-top: -6.357rem;
    }
    h2:after{
      width:2.7rem;
      height:.3rem;
      display:block;
      content:' ';
      background:darken($primary,80%);
    }
    .content{
      padding-top: 65px;
      width:90%;
      margin-left:10%;
    }
  }
}
.text#kontakt .text-wrap{
  width:$sm-scrn;
  margin:auto;
  display:block;
}

.portfolio-item.Text{
  .image-wrap{
    display:none;
  }
  .text-wrap,
  .content-wrap{
    width:100%;
    h2{
      margin-left:40%;
      margin-top: 0;
    }
  }
}
.p-kontakt .portfolio-item,
.p-kontakt .p-wrap#hae,
.p-kontakt .p-wrap#team,
.p-home .p-wrap#kontakt,
.p-team .p-wrap#kontakt{
  opacity:0;
  display:none;
}
