
.portfolio-item{
  font-family:$serif;
  max-width:100%;
  display:flex;
  margin:auto;
  .image-wrap,
  .video-wrap,
  .text-wrap{
    display:inline-block;
    width:55%;
  }
  .video-wrap,
  .image-wrap{
    margin-right:-5%;
    img{
      max-width:100%;
    }
  }
  .text-wrap{
    margin-left:-5%;
    h2{
      margin-top: 2.357rem;
    }
    .content{
      width:90%;
      margin-left:10%;
    }
  }
}
