.p-open {
  .loader{
    z-index:270;
    background:#fff;
    opacity:1;
    .citrus-loader-floater{
      margin-top:-20vh;
      display:block;
      position:fixed;
      background:url(../media/focus.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index:270;
    }

    @for $i from 1 through 60 {
      .citrus-loader-floater#floater-#{$i}{
        $rndm:-20vw+(10*random(14));
        left:$rndm;
        $rndm: random(12)*random(12);
        width:$rndm+px;
        height:$rndm+px;
        animation: floater $ee $ees4*$rndm $ees*(random(30)/10) infinite;
      }
    }
  }
}
.loader{
  animation:none;
  display:block;
  width:100vw;
  min-height:100vh;
  position:fixed;
}
@keyframes floater {
  0% {
    top:120vh;
    opacity:0;
  }
  1% {
    top:120vh;
    opacity:1;
  }
  99%{
    top:-20vh;
    opacity:1;
  }
  100% {
    top:120vh;
    opacity:0;
  }
}
@keyframes loading {
  0% {
    opacity:0;
  }
  10% {
    opacity:1;
  }
  90%{
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
