.p-open {
  .loader{
    background:$primary;
    z-index:270;
    animation:loading $ee $ees3;
    position:fixed;
    display:block;
    overflow: hidden;
    img{
      width:30vw;
      margin:40vh 35vw;
      position:fixed;
      display:block;

    }
    .citrus-loader{
      display:block;
      position:fixed;
      overflow:hidden;
      width:100vw;
      height:100vh;
      z-index:270;
      img{
        width:30vw;
        margin:40vh 35vw;
        position:fixed;
        display:block;
      }
    }
  }
}
@keyframes loading {
  0% {
    width:0;
  }
  100% {
    width:100vw;
  }
}
