.p-open {
  .loader{
    background:$focus;
    animation:loading $ee $ees3 infinite;
    .citrus-loader{
      background:$primary;
    }
  }
  .loader .citrus-loader,
  .loader{
    z-index:270;
    position:fixed;
    display:block;
    overflow: hidden;
    height:100vh;
    img{
      width:30vw;
      margin: 25vh 35vw;
      position:absolute;
      display:block;
    }
  }
}
@keyframes loading {
  0% {
    width:0;
  }
  100% {
    width:100vw;
  }
}
