
@mixin flexalign($algn){
  -webkit-box-align: $algn;
  -ms-flex-align: $algn;
  align-items: flex-$algn;
}

@mixin flexit($flx){
  -ms-flex-preferred-size: $flx;
  flex-basis: $flx;
  max-width: $flx;
  box-sizing: border-box;
}
