.p-hae{
  .p-wrap.Video#hae{
    .text-wrap{
      width: 50%;
      z-index: 203;
      float: left;
      position: relative;
    }
    .media-wrap{
      width: 70%;
      float: right;
      z-index: 201;
      margin-left: -30%;
      position: relative;
      .plyr--video .plyr__controls{
        display:none;
      }
    }
  }
}
