.om-oss{
  h2{
    font-size: 6.91vw;
    line-height: 6.91vw;
  }
  .wp-block-coblocks-accordion,
  p{
    width: 60%;
    margin-left:20%;
  }
  .wp-block-coblocks-accordion{
    margin-top:5vw;
    p{
      width:100%;
      margin-left:0;
    }
  }
}
