.om-oss{
  .header{
    display:none;
  }
  h2{
    font-size: 6.91*$vw;
    line-height: 6.91*$vw;
  }
}

button.accordion {
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  padding: 1.5*$vw 0;
  font-size: $font-size-p;
  color: #444;

  cursor: pointer;
}

button.accordion:after {
  content: '+';
  font-family: $handwritten;
  font-size:$font-size-p;
  line-height:$font-size-p*1.25;
  margin:.3*$vw 0 .3*$vw .3*$vw;
  width:1.8*$vw;
  float: left;
}

button.accordion.is-open:after {
  content: '-';
}


.accordion-content {
  padding: 0 2*$vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.om-oss p.handwritten{
  font-family: $handwritten, cursive !important;
}
.citrus-studio{
  p{
    width: 39*$vw;
  }
  p.handwritten{
    font-family: $handwritten, cursive !important;
  }
  .header{

  }
}
