.product_meta,
.tabs.wc-tabs,
.woocommerce-result-count,
.woocommerce-ordering,
.add_to_cart_button,
.woocommerce-tabs,
.checkout .col-2,
.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab,
.woocommerce-breadcrumb{
  display: none;
}
.product .summary.entry-summary,
.woocommerce-product-gallery{
  width: 26vw;
  display: inline-block;
}
.col-1{
  width:100%;
}
