.om-oss{
  .header{
    display:none;
  }
  h2{
    margin-top: 10vw;
    font-size: 6.91vw;
    line-height: 6.91vw;
  }
  p.slim{
    width: 60%;
    margin-left:20%;
  }
}

button.accordion {
  width: 60%;
  margin-left:20%;
  border: none;
  outline: none;
  text-align: left;
  padding: 1.5vw 2vw;
  font-size: 2vw;
  color: #444;

  cursor: pointer;
}

button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 1.2vw;
  margin:.3vw 1vw .3vw .3vw;
  float: left;
}

button.accordion.is-open:after {
  content: '\f056';
}


.accordion-content {
  padding: 0 2vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  p{
    width:60%;
    margin-left:20%;
  }
}
