.p-wrap[data-wtrs-show-on='om-oss']{
  display:none;
}
.p-wrap.show-on-current-page[data-wtrs-show-on='om-oss']{
  padding:2rem 1.5rem;
  .inner{
    width:100%;
    height: 60vw;
    max-height:80vh;
    position:relative;
    .featured-media{
      z-index:222;
      width:70%;
      max-width:700px;
      height:auto;
      display:block;
      background:transparent;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      right:0;
      .plyr{
        background: transparent;
        display: block;
        box-sizing: border-box;
        margin:auto;
        width:100%;
        transform:scale(.9);
        box-shadow: 0px 4px 15px rgba(0,0,0,.15);
        transition: transform 800ms $cb;
        will-change: transform;
        .plyr__video-wrapper{
          background:transparent;
          will-change: opacity;
          .plyr__poster{
            background-size: cover;
          }
        }
        &.plyr--playing{
          mix-blend-mode:normal;
          width:100%;
          background:#000;
          animation:none;
          box-shadow: 0px 4px 20px rgba(0,0,0,.2);
          transform:scale(1);
          transition:transform 500ms $cb;
          will-change: transform;
        }
      }
    }
    h1{
      position:absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size:8vw;
      font-family:Times New Roman, sans-serif !important;
      line-height:8vw;
      font-weight:900 !important;
      margin:0;
      padding:0;
      color:transparent;
    }
    h1{
      pointer-events : none;
      z-index:230;
      -webkit-text-stroke: 1px #F90;
    }
  }
}

.p-wrap.show-on-current-page[data-wtrs-show-on='om-oss']{
  display:block;
  .inner{
    .featured-media.visible{
      top:50%;
      transform: translateY(-50%);
      opacity:1;
      .some{
        margin-bottom:-1.8rem;
        opacity:1;
        transition:opacity 400ms $cb;
      }
      .entry-title{
        display:none;
      }
      .plyr{
        transform:scale(1);
        filter: grayscale(0%);
        mix-blend-mode:normal;
        width:100%;
        box-shadow: 0px 4px 20px rgba(0,0,0,.2);
        transition:transform 500ms $cb,filter 500ms $cb,box-shadow 500ms $cb;
        .plyr__video-wrapper{
          opacity:1;
          transition:opacity .5s $cb;
        }
      }
    }

    h1.visible{
      margin-top:0;
      transition:margin-top 700ms $cb;
    }
  }
}

h2#kontakt{
  $dropped: 22rem;
  $dropcolor: #000;
  font-size: 4rem;
  text-shadow: $dropped 0 $dropcolor  , $dropped*2 0 $dropcolor, $dropped*3 0 $dropcolor,
               $dropped*4 0 $dropcolor, $dropped*5 0 $dropcolor, $dropped*6 0 $dropcolor,
               $dropped*7 0 $dropcolor, $dropped*8 0 $dropcolor, $dropped*9 0 $dropcolor,
               $dropped*10 0 $dropcolor, $dropped*11 0 $dropcolor, $dropped*12 0 $dropcolor,
               $dropped*13 0 $dropcolor, $dropped*14 0 $dropcolor, $dropped*15 0 $dropcolor,
               $dropped*16 0 $dropcolor, $dropped*17 0 $dropcolor, $dropped*18 0 $dropcolor,
               $dropped*19 0 $dropcolor, $dropped*20 0 $dropcolor, $dropped*21 0 $dropcolor,
               -$dropped 0 $dropcolor  , -$dropped*2 0 $dropcolor, -$dropped*3 0 $dropcolor,
               -$dropped*4 0 $dropcolor, -$dropped*5 0 $dropcolor, -$dropped*6 0 $dropcolor,
               -$dropped*7 0 $dropcolor, -$dropped*8 0 $dropcolor, -$dropped*9 0 $dropcolor,
               -$dropped*10 0 $dropcolor, -$dropped*11 0 $dropcolor, -$dropped*12 0 $dropcolor,
               -$dropped*13 0 $dropcolor, -$dropped*14 0 $dropcolor, -$dropped*15 0 $dropcolor,
               -$dropped*16 0 $dropcolor, -$dropped*17 0 $dropcolor, -$dropped*18 0 $dropcolor,
               -$dropped*19 0 $dropcolor, -$dropped*20 0 $dropcolor, -$dropped*21 0 $dropcolor;

   will-change: transform;
}
.wp-block-image.middle{
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
