.tre-i-i.hae:after {
  z-index: -1;
  position: absolute;
  content: ' ';
  height: 50%;
  right: 0;
  width: 127%;
  padding: 31%;
  -webkit-transform: translate(25.5%, -13.4%);
  transform: translate(25.5%, -13.4%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../media/circle.png);
}
.tre-i-i.play:after {
  z-index: -1;
  position: absolute !important;
  content: ' ' !important;
  height: 60% !important;
  right: 0;
  width: 100% !important;
  -webkit-transform: translate(0%, 131%);
  transform: translate(0%, 131%);
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  background-image: url(../media/play.png);
}
.tre-i-i.favvv:after {
  z-index: -1;
  position: absolute;
  content: ' ';
  height: 130%;
  right: 0;
  width: 4vw;
  -webkit-transform: translate(127%, 73%);
  transform: translate(127%, 73%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../media/arrow.png);
}
.home p .tre-i{
  display: inline-block;
  width: 33%;
  .tre-i-i{
    font-weight: 700;
    font-style: italic;
    display: inline-block;
    text-decoration: none;
    position: relative;
    font-size: 80%;
    margin-top: 1.5vw;
  }
}

.home .dir a:nth-child(4),
.home .dir a:nth-child(5){
  .dir-item{
    width: 39vw;
    .info{
      width: 35vw;
      .info-m{
        width: 35vw;
      }
    }
  }
}
