.p-om-oss{

}
.p-om-oss .p-wrap#om-oss{

}
.p-om-oss,
.p-team{
  .content{

    display: none;
    transition: display 0s 500ms;
  }
  section.portfolio-item{
    margin-right:-100vw;
    opacity:0;
    max-height:0px;
    padding:0;
    transition:margin-right 400ms, opacity 200ms, max-height 400ms,padding 400ms;
    .inner{
      height:0;
      max-height:0;
      transition:height 400ms,max-height 400ms;
    }
  }
}

.p-wrap#home{
  padding-top:33rem;
}
