
.tjenester{
  ol{
    li{
      font-size:$font-size/2;
      line-height:$font-size/3;
      list-style-position: inside;
      margin-bottom: 6vw;
      font-weight:bold;
      font-size: ($font-size)/2;
      line-height: ($font-size*1.25)/2;
      text-transform: uppercase;
      a{
        font-size: $font-size;
        line-height: $font-size*1.25;
      }
      &::before,
      &:before {
        line-height:0;
        display:block;
        content: "\a";
        white-space: pre;
      }
    }
  }
}
