.product_meta,
.tabs.wc-tabs,
.woocommerce-result-count,
.woocommerce-ordering,
.add_to_cart_button,
.woocommerce-tabs,
.checkout .col-2,
.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab,
.woocommerce-breadcrumb{
  display: none;
}
.woocommerce-product-gallery{
  width: 26vw;
  display: inline-block;
}
.product .summary.entry-summary{
  width: 51vw;
  margin-left: 2vw;
  display: inline-block;
}
.col-1{
  width:100%;
}

.single_add_to_cart_button.button.alt{
  font-size:2vw;
  margin:2vw 1vw;
  padding:2vw 1vw;
  border: #000 solid .2vw;
}
