.pagination{
  width:$dir-i-w + $dir-i-m + $dir-i-p;
  margin:auto;
  .counter{
    width: 8.9009vw;
    display:inline-block;
    margin:auto;
    .page-count{
      display: inline-block;
      transform: translatey(-1.5vw);
      text-align: right;
      width: 4vw;
    }
    .divi-count{
      width: .1043vw;
      min-width:1px;
      overflow:hidden;
      color:transparent;
      background: #000;
      display: inline-block;
      height: 3.2vw;
      transform: rotate(33deg) translateY(0.4vw);
    }
    .tot-count{
      display: inline-block;
      width: 4vw;
      transform: translatex(-0.5vw);
    }
  }
}
