.om-oss{
  h2{
    font-size: 6.91vw;
    line-height: 6.91vw;
  }
  .wp-block-coblocks-accordion,
  p{
    width: 60%;
    margin-left:20%;
  }
  .wp-block-coblocks-accordion{
    margin-top:5vw;
    p{
      width:100%;
      margin-left:0;
    }
  }
}
.accordion-wrap {
  width: 80%;
}

button.accordion {
  width: 100%;
  background-color: #fff;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 2vw;
  color: #444;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 1.2vw;
  margin:.3vw 1vw .3vw .3vw;
  float: left;
}

button.accordion.is-open:after {
  content: '\f056';
}


.accordion-content {
  background-color: white;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
