.p-om-oss{

}
.p-om-oss .p-wrap#om-oss{

}
.p-om-oss,
.p-team{
  .content{

    display: none;
    transition: display 0s 500ms;
  }
  section.portfolio-item{
    margin-right:-100vw;
    opacity:0;
    max-height:0px;
    padding:0;
    transition:margin-right 400ms, opacity 200ms, max-height 400ms,padding 400ms;
    .inner{
      height:0;
      max-height:0;
      transition:height 400ms,max-height 400ms;
    }
  }
}
.p-open{
  .p-wrap{
    display:none;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    opacity:0;
  }
}
.p-open.p-home {
  .p-wrap{
    display:none;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    opacity:0;
  }
  .p-wrap#home{
    display:block;
    height:auto;
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    overflow:auto;
    opacity:1;
  }
}
.p-open.p-kontakt{
  #home,
  .p-wrap{
    display:none;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    opacity:0;
  }
  .p-wrap#kontakt{
    display:block;
    height:auto;
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    overflow:auto;
    opacity:1;
  }
}
.p-open.p-team{
  #home,
  .p-wrap{
    display:none;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    opacity:0;
  }
  .p-wrap#team{
    display:block;
    height:auto;
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    overflow:auto;
    opacity:1;
  }
}
.p-open.p-om-oss{
  #home,
  .p-wrap{
    display:none;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    opacity:0;
  }
  .p-wrap#om-oss{
    display:block;
    height:auto;
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    overflow:auto;
    opacity:1;
  }
}
.p-open.p-events{
  .portfolio-item,
  .p-wrap{
    display:none;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0;
    opacity:0;
  }
  .p-wrap#home,
  .portfolio-item.Event{
    display:block;
    height:auto;
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    overflow:auto;
    opacity:1;
  }
}
.p-wrap#home{
  padding-top: 44vw;
}
