.om-oss{
  .header{
    display:none;
  }
  h2{
    font-size: 6.91vw;
    line-height: 6.91vw;
  }
}

button.accordion {
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  padding: 1.5vw 0;
  font-size: 2vw;
  color: #444;

  cursor: pointer;
}

button.accordion:after {
  content: '+';
  font-family: 'Mansalva';
  font-size:$font-size/3;
  line-height:$font-size/3*1.25;
  margin:.3vw 1vw .3vw .3vw;
  float: left;
}

button.accordion.is-open:after {
  content: '-';
}


.accordion-content {
  padding: 0 2vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
