.pagination{
  display: block;
  min-width: 14.4vw;
  max-width: $dir-i-w + $dir-i-m + $dir-i-p;
  text-align: center;
  margin:auto;
  margin-top:$dir-i-m + $dir-i-p;
  .label{
    margin-right:.6vw;
  }
  .count{
    display:inline-block;
    margin-left: 2vw;
    margin-right:2vw;
  }
  a#previous,
  a#next{
    width: 1.8vw;
    height: 1.6vw;
    &[href=""]{
      .previous,
      .next{
        border-color:rgba($dark,.5);
      }
    }
  }
  .previous,
  .next{
    width:1vw;
    height:1vw;
    display:inline-block;
    box-sizing:border-box;
  }
  .previous{
    border-top:.121vw solid $dark;
    border-left:.121vw solid $dark;
    transform:rotate(-45deg);
  }
  .next{
    border-top: 0.121vw solid $dark;
    border-right: 0.121vw solid $dark;
    transform: rotate(45deg);
  }
}
