.product_meta,
.tabs.wc-tabs,
.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab,
.woocommerce-breadcrumb{
  display: none;
}
.woocommerce-product-gallery{
  width: 35vw;
  display: inline-block;
}
