
.start-page-transition{
  .p-wrap{
    .p-inner{
      width: 100%;
      margin: 0;
      padding: 0;
      .p-item{
        opacity:0;
        transform:scale(0);
        transition: opacity 200ms ease-out, transform 200ms ease-out;
      }
    }
  }
}
.middle-page-transition{
  .p-wrap{
    display:none;
    .p-inner{
      width: 100%;
      margin: 0;
      padding: 0;
      .p-item{
        transform:scale(0);
        transition: opacity 200ms ease-out, transform 200ms ease-out;
      }
    }
  }
}
.end-page-transition{
  .p-wrap{
    display:none;
    .p-inner{
      width: 100%;
      margin: 0;
      padding: 0;
      .p-item{
        opacity:0;
        transform:scale(0);
      }
    }
  }
  *.current{
    display:block;
    .p-inner{
      .p-item{
        opacity:1;
        transform:scale(1);
        transition:opacity 200ms ease-in, transform 200ms ease-in;
      }
    }
  }
}


.p-wrap{
  padding:0 1.5rem;
  box-sizing:border-box;
}
.p-wrap#home{
  padding-top: 44vw;
  margin-top:16rem;
}
