

p{

  font-size:$font-size-p;
  line-height:$font-size-p*1.38;
  margin-bottom: $font-size-p*1.25;
}



h1,h2,
h3,h4{
  font-weight:700;
  strong,
  b{
    font-weight:900;
  }
}
h5{
  font-weight:400;
}
h1{
  font-size:$font-size-h1;
  line-height:$font-size-h1*1.25;
}
h2{
  font-size:$font-size-h2;
  line-height:$font-size-h2*1.25;
}
h3{
  font-size:$font-size-h3;
  line-height:$font-size-h3*1.25;
}
h4{
  font-size:$font-size-h4;
  line-height:$font-size-h4*1.25;
}
h5{
  font-size:$font-size-h5;
  line-height:$font-size-h5*1.25;
}
