$primary: #00f;
$focus: #f90;
$white: #fff;
$black: #000;
$handwritten: 'Citrus','Permanent Marker', cursive;
$monospace: 'Mukta', monospace;
$bw: 3px;
$sitewidth: 98rem;
$border:$bw solid $black;
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
