body.unloaded{
  background:#00f;
  overflow: hidden;
  .get-subscribers,
  .show-on-current-page,
  .show-in-directory,
  .current,
  .foot,
  .menu{
    opacity:0;
  }
  .fruits{
    opacity:1;
  }
  .intro{
    display: block;
  }
}

.intro{
  display: none;
  position: fixed;
  z-index: 3010;
  width: 100%;
  margin-top:-20vw;
  min-height: 120vh;
  $fruit-size:20vw;
  .intro--text-wrap{
    width:100%;
    min-width:100%;
    height:100vh;
    min-height:100%;
    display: block;
    position: relative;
    .intro--text{
      position: absolute;
      display:block;
      height:10vw;
      width:100%;
      min-width:100%;
      text-align: center;
      font-size:10vw;
      top: 50%;
      transform: translateY(-50%);
      color:#fff;
    }
  }
  .fruit{
    margin-top: -20vw;
    width:$fruit-size;
    position: absolute;
    transform: translateY(100vh);
    animation: frootloop 10s infinite linear;
    img{
      pointer-events: none;
      opacity:1;
      transition:transform 20ms;
      width:$fruit-size;
      will-change: transform;
      animation: frootroot 1.5s infinite linear;
    }
  }
  .fruit#one{
    animation-delay: 1s;
    margin-left: 10vw;
  }
  .fruit#two{
    margin-left: 20vw;
  }
  .fruit#three{
    animation-delay: 5s;
    margin-left: 30vw;
  }
  .fruit#four{
    animation-delay: 2s;
    margin-left: 40vw;
  }
  .fruit#five{
    animation-delay: 8s;
    margin-left: 50vw;
  }
  .fruit#six{
    animation-delay: 3s;
    margin-left: 60vw;
  }
  .fruit#seven{
    animation-delay: 9s;
    margin-left: 70vw;
  }
  .fruit#eight{
    animation-delay: 6s;
    margin-left: 80vw;
  }
  .fruit#nine{
    animation-delay: 4s;
    margin-left: 55vw;
  }
  .fruit#ten{
    animation-delay: 7s;
    margin-left: 45vw;
  }
}

@keyframes frootloop{
  from{
    transform:translateY(100%);
  }
  to{
    transform:translateY(0%);
  }
}
@keyframes frootroot{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
