body.unloaded{
  background:#00f;
  overflow: hidden;
  .get-subscribers,
  .show-on-current-page,
  .show-in-directory,
  .current,
  .foot,
  .menu .container{
    opacity:0;
  }
}

.intro{
  position: fixed;
  display: block;
  z-index: 3010;
  width: 100%;
  min-height: 100%;
  $fruit-size:20vw;
  .intro--text-wrap{
    width:100%;
    min-width:100%;
    height:100vh;
    min-height:100%;
    display: block;
    position: relative;
    .intro--text{
      position: absolute;
      display:block;
      height:10vw;
      text-align: center;
      font-size:10vw;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .fruit{
    width:$fruit-size;
    position: absolute;
    transition:transform 20ms;
    animation: frootloop 10s infinite;
    img{
      pointer-events: none;
      opacity:1;
      transition:transform 20ms;
      width:$fruit-size;
      will-change: transform;
      animation: frootroot 1.5s infinite linear;
    }
  }
  .fruit#one{

    animation-delay: 200ms;
  }
  .fruit#two{
    animation-delay: 200ms;
  }
  .fruit#three{
    animation-delay: 200ms;
  }
  .fruit#four{
    animation-delay: 400ms;
  }
  .fruit#five{
    animation-delay: 200ms;
  }
  .fruit#six{
    animation-delay: 200ms;
  }
  .fruit#seven{
    animation-delay: 200ms;
  }
  .fruit#eight{
    animation-delay: 200ms;
  }
  .fruit#nine{
    animation-delay: 200ms;
  }
  .fruit#ten{
    animation-delay: 200ms;
  }
}

@keyframes frootloop{
  from{
    transform:translateY(150vh);
  }
  to{
    transform:translateY(-150vh);
  }
}
@keyframes frootroot{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
