/*
  Variables
*/


$primary: #00f;
$focus: #f90;
$white: #fff;
$black:#0D1317;
$serif: 'Times New Roman','times',serif;
$sans-serif: 'Arial';
$handwritten: 'Citrus','Mansalva', cursive;
$monospace: 'Mukta', monospace;
$plyr-color: $primary;
$core_font-family-01: $serif;
$core_font-family-02: $serif;
$core_font-family-03: $serif;
$max-page-width: 1050px;

$bw: 3px;
$sitewidth: 98rem;
$border:$bw solid $black;

$font-size:2;


$black:#0D1317;

$sm-scrn: 48em;
$md-scrn: 62em;
$lg-scrn: 75em;


$cb:cubic-bezier(.24,.99,.75,1.01);
$ee:$cb;
$ees:500ms;


@import '../../core/css/reset';
@import '../../core/css/plyr';
@import '../../core/css/grid';
@import 'forms';
@import 'posts';
@import 'footer';
@import 'team';
@import 'paging';

video, img {
    max-width: 100%;
    height: auto;
}

$sizer:2.5rem;$h1:$sizer;
$sizer:$sizer*.8;$h2:$sizer;
$sizer:$sizer*.8;$h3:$sizer;
$sizer:$sizer*.8;$h4:$sizer;
$sizer:$sizer*.8;$h5:$sizer;
$p:$h1/2;
h1{font-size:$h1;line-height:$h1*1.5;}
h2{font-size:$h2;line-height:$h2*1.5;}
h3{font-size:$h3;line-height:$h3*1.5;}
h4{font-size:$h4;line-height:$h4*1.5;}
h5{font-size:$h5;line-height:$h5*1.5;}
p{font-size:$p;line-height:$p*1.5;}

.p-wrap.Text{
  h1,h2,h3,h4,h5,p{
    margin-bottom:$h1;
  }
}

.wp-block-column.col-xs-4{
  position:relative;
  .wp-block-image{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
}
body{
  overflow-x:hidden;
  background:#fff;
}

.wrap-loader{
  pointer-events: none;
  opacity:0;
  transition:opacity 1s 1s ease;
  &.unloaded{
    opacity:1;
    transition:opacity 1s 1s ease;
    .mover{
      animation:mover 2s infinite;
      display:block;
    }
  }
}

@keyframes mover{
  0%{
    transform:translate(2%,1%);
  }
  25%{
    transform:translate(1.7%,1.2%);
  }
  50%{
    transform:translate(1.5%,1.7%);
  }
  75%{
    transform:translate(1.3%,1.2%);
  }
  100%{
    transform:translate(2%,1%);
  }
}

.h-p-header{
  z-index:250;
  top:0;
  color:$white;
  width:100vw;
  height: 29vw;
  overflow: hidden;
  background:transparent;
  position:absolute;
  padding: 7rem 0;
  font-family: $handwritten;
  font-size:5vw;
  text-align:center;
  text-transform:uppercase;
  video{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  .text{
    position: absolute;
    font-family: $handwritten;
    z-index:22;
    width:90vw;
    margin:0 5vw;
    color:$primary;
    .word{
      font-family: $handwritten;
      z-index:22;
      display:inline-block;
      margin-right:2vw;
      span{
        font-family: $handwritten;
        display:inline-block;
        color:$primary;
      }
      #å,
      #i{
        text-transform:lowercase;
        font-size:120%;
      }
    }
    @for $i from 1 through 90 {
      .word :nth-child(#{$i}){
        transform:rotate(-20 + (random(40))+deg);
        margin-right:((-2+random(4))/10)+vw;
        margin-left:((-2+random(4))/10)+vw;
        font-size:4+(random(100)/100)+vw;
      }
    }
  }
}


.menu-overlay{
  pointer-events:none;
  background-repeat:repeat;
  width:100vw;
  height:100vh;
  position:fixed;
  display:block;
  top:0;
  background:#00f;
  left:0;
  z-index: 2222;
  z-index: 2000;
  opacity:0;
  &.menu-hover{
    opacity:.9;
    transition:opacity 125ms;
  }
}

.menu{
  position:absolute;
  width:100%;
  display:block;
  top:0;
  left:0;
  right:0;
  z-index:2000;
  &:hover{
    .logotype{
        z-index:2300;
      span{
        color:#fff;
      }
    }
    .container{
      nav{
        ul{
          li{
            span{
              color:#fff;
              &:hover{
                cursor:pointer;
              }
            }
          }
        }
      }
    }
  }
  .logotype{
    top:0;
    width:11.5rem;
    max-height: 3.5rem;
    max-width:60%;
    position:absolute;
    display:block;
    margin:1rem 1.5rem;
    span{
      text-transform:uppercase;
      font-size: 1.4rem;
      font-family:'Times New Roman';
      font-weight:900;
      color:$black;
    }
  }

  .container {
    margin:1rem 1.5rem;
    top:0;
    right:0;
    z-index:2002;
    width: 6rem;
    height: 7rem;
    display: flex;
    float:right;
    position:absolute;

    nav{
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: row wrap;

        li {
          padding:0;
          width: 100%;
          text-align: right;
          margin: 0 0 .5rem 0;

          a {
            text-decoration: none;
            position: relative;
            font-family:Times New Roman;
            font-size: 1.3rem;
            font-weight: 300;
            padding: 3px 0;
            span{
              color:$black;
            }
            &.underline {
              color:#f90;
              &::after {
                content: "";
                border-bottom: solid 2px #f90;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.25s;
              }

              &:hover {
                &::after {
                  transform-origin: left;
                  transform: scaleX(1);
                }
              }

              @keyframes underline {
                from {
                  transform: scaleX(0);
                }
                to {
                  transform: scaleX(1);
                }
              }
            }
          }
        }
      }
    }
  }
}












.content{
  margin:9rem auto;
  width:100%;
}
@media only screen and (min-width: 1050px) {

  .menu{
    max-width:1050px;
    width:100%;
    margin:auto;
  }
  .content{
    max-width:1050px;
    width:100%;
  }
  section.p-wrap.Video{
    .inner{
      h1,h2{
        font-size: 5.2rem;
      }
    }
  }
}

a{
  color:inherit;
  text-decoration:none;
}


$m-8: 8.33333333%;
$m-16: 16.66666667%;
$m-25: 25%;
$m-33: 33.33333333%;
$m-41: 41.66666667%;
$m-50: 50%;
$m-58: 58.33333333%;
$m-66: 66.66666667%;
$m-75: 75%;
$m-83: 83.33333333%;
$m-91: 91.66666667%;
$m-100: 100%;


@mixin flexit($flx){
  -ms-flex-preferred-size: $flx;
  flex-basis: $flx;
  max-width: $flx;
}






.p-wrap{
  max-width:$max-page-width;
  display:block;
  margin:auto;
  width:100%;
}
