
@import '../../core/css/reset';
@import '../../core/css/vars';
@import 'vars';
@import '../../core/css/grid';
@import '../../core/css/plyr';
@import '../../core/css/typography';
@import 'typography';
@import 'base';
@import 'layout';
@import 'menu';
@import 'loader';
@import 'forms';

/****************************************************************************


                  )              (
                () /(          )   )\ )
                )\())      ( /(  (()/(  (      )   (
               ((_)\   (   )\())  /(_)) )\  ( /(  ))\ (
              _((_)  )\ (_))/  (_))_|((_) )\())/((_))\
              | || | ((_)| |_   | |_   (_)((_)\(_)) ((_)
              | __ |/ _ \|  _|  | __|  | |\ \ // -_)(_-<
              |_||_|\___/ \__|  |_|    |_|/_\_\\___|/__/



****************************************************************************/


.p-open {
  .loader{
    display:none;
  }
}
.portfolio-item-wrap,
.p-wrap-wrap{
  width:100%;
}
.p-wrap,
.portfolio-item{

    box-sizing: border-box;
}
.p-home .p-wrap.Video#hae .text-wrap{
  padding-top:10%;
}
.row img{
  width:100%;
}
.team-image{
  animation:namefont $ees4 infinite;
}
@import url('https://fonts.googleapis.com/css?family=Chilanka|Indie+Flower|Kalam|Shadows+Into+Light&display=swap');
$name-font-01:'Indie Flower', cursive;
$name-font-02:'Chilanka', cursive;
$name-font-03:'Shadows Into Light', cursive;
$name-font-04:'Kalam', cursive;
$name-font-05:'Permanent Marker', cursive;

@keyframes namefont {
  0% {font-family:$name-font-01;color:$focus;}
  10% {font-family:$name-font-02;color:$focus;}
  20% {font-family:$name-font-03;color:$primary;}
  30% {font-family:$name-font-04;color:$focus;}
  40% {font-family:$name-font-05;color:$primary;}
  50% {font-family:$name-font-01;color:$focus;}
  60% {font-family:$name-font-02;color:$focus;}
  70% {font-family:$name-font-03;color:$primary;}
  80% {font-family:$name-font-05;color:$primary;}
  90% {font-family:$name-font-04;color:$focus;}
  100% {font-family:$name-font-05;color:$focus;}
}


body{
  opacity:0;
  transition:opacity $ee $ees;
}
body.p-open{
  opacity:1;
  transition:opacity $ee $ees;
}
.plyr__video-wrapper{
  background:$white;
}
