.wp-block-button,
input[type=submit],
button.btn {
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background:transparent;
  padding: 0.4rem 1.2rem 0.4rem 1rem;
  font-size: 1rem;
  font-family: $serif, serif;
  display: inline-block;
  position:relative;
  border:2px solid $black;
  border-radius:22rem;
  transition:border-color $ee $ees;
  box-sizing: border-box;
}
.wp-block-button:hover,
input[type=submit]:hover,
button.btn:hover{
  color:$black;
  border-color:$primary;
  transition:border-color $ee $ees $ees*.66,color $ee $ees $ees*.66;
}
.wp-block-button:after,
input[type=submit]:after,
button.btn:after{
  transform:rotate(45deg);
  border-right:1px solid $black;
  border-top:1px solid $black;
  width:.5rem;
  height:.5rem;
  display:inline-block;
  content:'';
  margin-left:.5rem;
  transition: margin-left $ee $ees, margin-right $ee $ees;
}
.wp-block-button:hover:after,
input[type=submit]:hover:after,
button.btn:hover:after{
  margin-left:.8rem;
  margin-right:-.3rem;
  transition: margin-left $ee $ees $ees*.66, margin-right $ee $ees $ees*.66, border-color $ee $ees $ees*.66;
}
.wp-block-button:before,
input[type=submit]:before,
button.btn:before {
  border-radius:22rem;
  content:'';
  background: transparent;
  position:absolute;
  width:2rem;
  top:0;
  left:0;
  height:100%;
  transition: $ee $ees;
  z-index:-1;
}

.wp-block-button:hover:before,
input[type=submit]:hover:before,
button.btn:hover:before {
  width:100%;
  background: brighten($primary,50%);
}
button.btn.center{
  margin: auto;
  display: block;
}


input[type=submit],
input[type=email],
textarea{
  margin:auto;
  display:block;
  width:100%;
  padding: 1rem 2rem;
  font-family:$serif, Serif;
  font-size:3rem;
  border:8px $primary solid;
  transition:all $ee $ees;
  box-sizing: border-box;
  color:$primary;
}
input[type=submit]{

    padding: 1rem 4rem;
    width: auto;
    border-radius: 0;
}
textarea{
  height:60vh;
}
textarea:focus,
textarea:active{
  color:$focus;
  border-color:$focus;
  transition:all $ee $ees;
}
.wpcf7-response-output.wpcf7-validation-errors,
.wpcf7-not-valid-tip{
  display:none;
}
