.p-open {
  .loader{
    background:#fff;
    width:100vw;
    .citrus-loader{
      background:$primary;
      animation:loading $ee $ees3 infinite;
    }
  }
  .loader .citrus-loader,
  .loader{
    z-index:270;
    position:fixed;
    display:block;
    overflow: hidden;
    height:100vh;
    img{
      width:30vw;
      margin: 25vh 35vw;
      position:absolute;
      display:block;
    }
  }
}
@keyframes loading {
  0% {
    width:0vw;
  }
  100% {
    width:100vw;
  }
}
